@import url('https://fonts.googleapis.com/css2?family=Onest:wght@300;400&family=Young+Serif&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Onest', sans-serif;
}

:root {
	--primary: #ff8811;
	--secondary: #51437f;
	--background: #392f5a;
	--text: #fff;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: 'Young Serif';
	color: var(--primary);
}

body {
	width: 100vw;
	height: 100vh;
	display: grid;
	grid-template-columns: 1fr 2fr;
	grid-template-rows: 120px 1fr;
	background: var(--background);
	color: var(--text);
	padding: 0 70px;
	padding-bottom: 70px;
	column-gap: 160px;
	row-gap: 50px;
}

header {
	grid-column: span 2;
	align-self: center;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

header .icon{
	padding: 10px;
	cursor: pointer;
}

form {
	width: 100%;
	display: flex;
	flex-direction: column;
	gap: 16px;
}

.info span {
	color: var(--text);
}

input {
	background: none;
	border: 3px solid #ff8811;
	border-radius: 6px;
	padding: 10px 16px;
	color: var(--text);
	outline: none;
	font-size: 18px;
}

input::placeholder {
	color: var(--primary);
}

button {
	background: var(--primary);
	border: none;
	padding: 10px 16px;
	border-radius: 6px;
	font-size: 16px;
	font-family: 'Young Serif', serif;
	color: var(--text);
	font-weight: 700;
	letter-spacing: 1px;
	cursor: pointer;
	transition: filter 0.2s;
}

button:hover {
	filter: brightness(1.2);
}

section {
	width: 100%;
}

#classification {
	display: grid;
	gap: 16px;
	max-height: 60vh;
	overflow-y: scroll;
}

#classification :nth-child(n + 4) {
	opacity: 0.5;
}

.card {
	display: flex;
	width: 100%;
	background: var(--secondary);
	border-radius: 6px;
	padding: 18px 24px;
	justify-content: space-between;
	align-items: center;
}

.name {
	color: var(--text);
	font-weight: 700;
	text-transform: capitalize;
}

.time {
	display: flex;
	align-items: center;
	gap: 6px;
	line-height: 1;
}

.time img {
	opacity: 0.5;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

input[type='number'] {
	-moz-appearance: textfield;
	appearance: textfield;
}
